* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Yeseva One";
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, black, rgb(51, 49, 49));
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vh 80vh 90vh 70vh 20vh;
    grid-template-areas:
        "Head       Head"
        "Title      Photo"
        "Reviews    Works"
        "Aptmnt     Contact"
        "Footer     Footer";

    nav {
        grid-area: Head;
        padding: 0 5rem;
        background-color: black;
        z-index: 50;
        position: fixed;
        width: 100%;
        height: 4rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .toggler {
            display: none;
            margin: 0 15px;
            color: white;
            scale: 1.25;

            i {
                font-weight: bolder;
            }
        }

        .logo {
            display: flex;
            align-items: center;
            margin-right: 5px;
            outline: solid white;
            cursor: pointer;

            a {
                display: flex;
                text-decoration: none;

                img {
                    width: 2rem;
                    height: 2rem;
                    margin-right: 5px;
                }

                h3 {
                    font-size: x-large;
                    color: white;
                }
            }
        }

        .nav-items {
            display: flex;

            a {
                text-decoration: none;
                color: white;
                font-weight: bold;
                font-size: large;
                position: relative;
                padding: .51em 0;
                margin-left: 2rem;

                li {
                    list-style: none;

                    i {
                        color: white;
                        margin: 0 10px;
                    }
                }

                &::before {
                    content: "";
                    width: 100%;
                    height: .15em;
                    border-radius: 70%;
                    position: absolute;
                    left: 5px;
                    bottom: 0;
                    background-color: white;
                    transform: scale(0);
                    transform-origin: center;
                    transition: .25s linear;
                }

                &:hover::before {
                    transform: scale(1);
                }

                &:hover {
                    color: wheat;
                }

                &:hover li i {
                    color: wheat;
                }
            }
        }
    }

    .title {
        grid-area: Title;
        color: rgb(197, 196, 196);
        // color: wheat;
        background: linear-gradient(to top, rgb(51, 49, 49), black);
        box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(3, 3, 3, 0.253);
        z-index: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: 18px;
        font-weight: bolder;
        letter-spacing: 2.5px;
        line-height: 40px;
        transition: .5s ease-in-out;

        &:hover {
            letter-spacing: 3.5px;
            color: white;
        }
    }

    .photo {
        grid-area: Photo;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, rgb(51, 49, 49), black);
        position: relative;

        .content {
            position: relative;

            .layer {
                width: 16rem;
                height: 16rem;
                background: linear-gradient(rgb(255, 255, 255), rgb(46, 43, 43));
                border-radius: 50%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 5rem;
                    background: linear-gradient(to right, black, white, black);
                    animation: bgRotate 4s linear infinite;
                    transition: 1s ease-in-out;
                }

                &::after {
                    content: "";
                    background-color: rgb(226, 226, 226);
                    position: absolute;
                    width: 15rem;
                    height: 15rem;
                    border-radius: 50%;
                }

                &:hover::before {
                    height: 100%;
                }

                &:hover img {
                    opacity: 0;
                }

                &:hover button {
                    z-index: 2;
                }

                &:hover p {
                    z-index: 2;
                }

                img {
                    position: absolute;
                    width: 15rem;
                    height: 15rem;
                    z-index: 1;
                    transition: 1s ease;
                }

                p {
                    font-weight: bolder;
                    font-size: 18px;
                    text-transform: uppercase;
                    margin: 1rem 0;
                }

                button {
                    width: 8rem;
                    height: 3rem;
                    background-color: rgb(19, 19, 19);
                    color: white;
                    border-radius: 2rem;
                    outline: none;
                    border: none;
                    font-weight: bold;
                    cursor: pointer;
                    transition: .5s ease;

                    &:hover {
                        background-color: black;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                }
            }

            .icons {
                display: flex;
                position: absolute;
                padding: .75rem 1rem;
                color: rgb(24, 22, 22);
                background-color: white;
                border-radius: 7.5px;
                font-weight: bold;
                z-index: 2;

                i {
                    padding: 0 10px;
                    scale: 1.5;
                }
            }

            .bootstrap {
                top: -2.7rem;
                right: -2.5rem;
            }

            .express {
                top: -2.3rem;
                left: -4rem;
            }

            .node {
                bottom: -2rem;
                left: -3rem;
            }

            .mongo {
                bottom: -2rem;
                right: -5rem;
            }

            .css {
                bottom: 45%;
                right: -6.1rem;
            }

            .react {
                top: 45%;
                left: -8rem;
            }

        }
    }

    .reviews {
        grid-area: Reviews;
        background: linear-gradient(to top, rgb(51, 49, 49), black);
    }

    .works {
        grid-area: Works;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: linear-gradient(to bottom, rgb(51, 49, 49), black);
        box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(3, 3, 3, 0.253);
        z-index: 1;

        h3 {
            color: white;
        }

        .swiper {
            width: 100%;
            height: 75%;

            .swiper-wrapper {
                .swiper-slide {
                    display: flex;
                    justify-content: center;

                    .card {
                        width: 17.5rem;
                        height: 25rem;
                        padding: 20px;
                        border-radius: 10px;
                        background-color: white;

                        .img {
                            height: 40%;

                            img {
                                width: 100%;
                                height: 100%;
                                padding-bottom: 10px;
                            }
                        }

                        .description {
                            width: 100%;
                            height: 60%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            text-align: justify;
                            color: black;

                            h3 {
                                color: black;
                            }

                            .github {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: black;
                                text-align: center;
                                padding: 4px;
                                width: 100%;
                                border-radius: 2px;

                                p {
                                    color: white;
                                    padding: 5px;
                                    border-radius: 10px;
                                }

                                i {
                                    color: white;
                                    scale: 1.4;
                                    margin: 0 2px;
                                }
                            }
                        }
                    }
                }
            }

            .swiper-pagination-bullet {
                background-color: white;
            }

            .swiper-button-prev,
            .swiper-button-next {
                scale: .4;
                width: 3rem;
                height: 3rem;
                padding: 50px;
                background-color: white;
                color: black;
                border-radius: 50%;
                transition: .25s ease-in-out;

                &:hover {
                    background-color: rgb(230, 221, 221);
                    transform: rotate(180deg);
                }
            }
        }
    }

    .aptmnt {
        grid-area: Aptmnt;
        color: white;
        background: linear-gradient(to top, rgb(51, 49, 49), black);
        box-shadow: 2.5px 0px 2.5px 2.5px rgba(3, 3, 3, 0.253);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        padding: 3rem 5rem;
        z-index: 1;

        .header {
            h3 {
                font-weight: bold;
            }

            margin: 1rem 0;
        }

        .content {
            width: 100%;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                input,
                textarea {
                    width: 100%;
                    height: 3rem;
                    margin: .5rem 0;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    padding: 0 1rem;
                    resize: none;
                }

                #formMsg {
                    height: 5rem;
                    padding: 1rem;
                }

                .sbt-btn {
                    width: 8rem;
                    height: 2.5rem;
                    margin: 2rem 0;
                    border-radius: 10px;
                    background-color: white;
                    // background-color: rgb(12, 12, 12);
                    color: black;
                    font-size: medium;
                    font-weight: bold;
                    outline: none;
                    border: none;
                    transition: .5s ease;

                    &:hover {
                        cursor: pointer;
                        background-color: black;
                        color: white;
                        // background-color: black;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }

    .cnt-info {
        grid-area: Contact;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 3rem 4rem;
        background: linear-gradient(to bottom, rgb(51, 49, 49), black);

        .header {
            h3 {
                font-weight: bold;
            }

            margin: 1rem 0;
        }

        .content {
            p {
                text-align: justify;
                margin: 10px 0;
            }

            .opts {
                padding: 5px 0;
                font-size: large;

                p {
                    display: flex;

                    span {
                        font-weight: bold;
                        padding: 0 5px;
                        transition: .5s ease-in-out;

                        &:hover {
                            letter-spacing: 1px;
                            padding: 0 2px;
                        }
                    }
                }
            }
        }
    }


    footer {
        grid-area: Footer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgb(22, 21, 21);
        color: white;
        padding-bottom: 1rem;

        .slinks {
            a {
                color: white;
                text-decoration: none;
                margin: 0 1rem;

                i {
                    scale: 1.5;
                    width: 1rem;
                    height: 1rem;
                    transition: .25s ease-in-out;

                    &:hover {
                        scale: 2;
                    }
                }
            }
        }
    }
}

// Tablet Screen
@media(min-width:769px) and (max-width:1024px) {
    .container {
        grid-template-rows: 4rem 37.5rem 37.5rem 35rem 8rem;

        nav {
            grid-area: Head;
            height: 4rem;

            .nav-items {
                a {
                    &::before {
                        width: 50%;
                    }
                }
            }

            .logo {
                a {
                    img {
                        width: 1.75rem;
                        height: 1.75rem;
                    }

                    h3 {
                        font-size: x-large;
                        color: white;
                    }
                }
            }
        }

        .photo {
            grid-area: Photo;
            overflow: hidden;
        }

        .works {
            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .card {
                            scale: .75;
                        }
                    }
                }

                .swiper-button-prev,
                .swiper-button-next {
                    &:hover {
                        transform: rotate(0);
                    }
                }
            }
        }

        .aptmnt {
            padding: 2rem 3rem;

            .header {
                margin: 1rem 0;
            }
        }

        .cnt-info {
            padding: 2rem 3rem;

            .content {
                .opts {
                    font-size: 15px;

                    p {
                        span {
                            &:hover {
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }

            .header {
                margin: 1rem 0;
            }
        }
    }
}

// Mobile Screen
@media(max-width:768px) {
    .container {
        grid-template-columns: 100%;
        grid-template-rows: 4rem 25rem 15rem 20rem 35rem 27.5rem 30rem 8rem;
        grid-template-areas:
            "Head"
            "Photo"
            "Title"
            "Services"
            "Works"
            "Aptmnt"
            "Contact"
            "Footer";

        nav {
            justify-content: flex-start;
            padding: 0;

            .logo {
                a {
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    h3 {
                        font-size: larger;
                    }
                }
            }

            .toggler {
                display: block;
            }

            .nav-items {
                display: block;
                width: 100%;
                height: 25rem;
                background: linear-gradient(to left, black, rgb(31, 30, 30), black);

                position: absolute;
                top: 3.95rem;
                left: 0;

                transform: translateX(-100%);
                transition: .5s ease-in-out;

                a {
                    color: white;
                    margin: 0;
                    padding: 0;

                    li {
                        margin-left: 0;
                        padding: 20px 0;

                        &:hover {
                            background-color: black;
                        }
                    }

                    &::before {
                        left: -80px;
                        bottom: 3px;
                    }
                }
            }

            .nav-items.is-active {
                display: block;
                transform: translateX(0%);
            }
        }

        .title {
            grid-area: Title;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .photo {
            grid-area: Photo;
            position: relative;

            .content {
                position: unset;

                .icons {
                    p {
                        display: none;
                    }
                }

                .bootstrap {
                    top: 2rem;
                    right: 3rem;
                }

                .express {
                    top: 2rem;
                    left: 3rem;
                }

                .node {
                    bottom: 2rem;
                    left: 3rem;
                }

                .mongo {
                    bottom: 2rem;
                    right: 3rem;
                }

                .css {
                    bottom: 45%;
                    right: 1rem;
                }

                .react {
                    top: 45%;
                    left: 1rem;
                }
            }
        }

        .works {
            background: linear-gradient(to top, rgb(51, 49, 49), black);

            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .card {
                            scale: .75;
                        }
                    }
                }

                .swiper-button-prev,
                .swiper-button-next {
                    &:hover {
                        transform: rotate(0);
                    }
                }
            }
        }

        .aptmnt {
            padding: 2rem 3rem;

            .header {
                margin: 1rem 0;
            }
        }

        .cnt-info {
            padding: 2rem 3rem;

            .content {
                .opts {
                    font-size: 13px;

                    p {
                        span {
                            &:hover {
                                letter-spacing: .5px;
                            }
                        }
                    }
                }
            }

            .header {
                margin: 1rem 0;
            }
        }
    }
}

// ANIMATIONS 
@keyframes bgRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}